@import "tailwindcss";

@theme {
  --font-notoSansArabic: "Noto Sans Arabic", sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.input-custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.input-custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin: 10px 0;
}

.input-custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
}

.input-custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Move animations to CSS file to avoid style tag recalculation */
@keyframes starMovement {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.animate-star-movement {
  animation: starMovement 50s linear infinite;
  will-change: transform; /* Hint browser for better performance */
}

.animate-star-movement-medium {
  animation: starMovement 100s linear infinite;
  will-change: transform;
}

.animate-star-movement-slow {
  animation: starMovement 150s linear infinite;
  will-change: transform;
}
